*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(fondo.jpg);
}
.register{
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #24303c;

}
.register h3{
    font-size: 22px;
    margin-bottom: 20px;
}
.control{
    color: white;
    width: 100%;
    padding: 6px;
    background: #24303c;
    border-radius: 4px;
    border:2px solid #1f53c5;
    margin-bottom: 4px;
    font-family: Calibri;
    font-size: 1.1em;
}
.register p{
    height: 40px;
    text-align: center;
    font-size: 17px;
}
.register a{
    color: #4478BE;
    text-decoration: none;
}
.register .boton{
    width: 100%;
    border: none;
    background: #4478BE;
    padding: 6px;
    color: white;
    margin: 16px 0;
    font-size: 16.5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar{
    background-color: #fff;
}
::-webkit-scrollbar-corner{
    background-color: #4a4aee;
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
    border: 0;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
::-webkit-scrollbar-track-piece{
    background-color: #fff;
}